@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}
